
/** 第一阶段动画 **/
.left-decor{
    -webkit-animation :slideInLeft 0.5s ease 0.3s 1 both;
}
.right-decor{
    -webkit-animation :slideInRight 0.5s ease 0.3s 1 both;
}

#trinagle-list-01{
    -webkit-animation :slideInUp 0.5s ease 1.5s 1 both;
}
#trinagle-list-02{
    -webkit-animation :slideInUp 0.5s ease 0.8s 1 both;
}
#trinagle-list-03{
    -webkit-animation :slideInRight 0.5s ease 1s 1 both;
}
.center-title{
    -webkit-animation :fadeInDown 0.8s ease 1.5s 1 both;
}


.f2  .left-decor{
    -webkit-animation :slideOutLeft 0.5s ease  0s 1 both;
}
.f2 .right-decor{
    -webkit-animation :slideOutRight 0.5s ease 0s 1 both;
}
.f2 .center-title{
    -webkit-animation :fadeOut 0.8s ease  0s 1 both;
}

#trinagleRed{
    -webkit-animation-name : hinge-my;
    -webkit-animation-duration : 2.3s;
    -webkit-animation-delay : 2.8s;
    -webkit-animation-fill-mode: both;
    z-index: 999;
}

.scaleBug{

}

 .fadeAni{
    -webkit-animation :zoomIn 0.2s ease  0s 1 both;
}
.f2  #trinagle-list-05{

}
/** 第一阶段动画 **/


/** 第二阶段动画 **/

@-webkit-keyframes hinge-my {
    0% {
        opacity: 0;
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    10%{
        opacity: 1;
    }

    20%, 60% {

        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%, 80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(-80px, 300px, 0) scale(20);
        transform: translate3d(-80px, 300px, 0) scale(20);
    }
}

/** 第二阶段动画 **/


/** 第三阶段动画 **/
.title-list .title-01{
    -webkit-animation :bounceInLeft 0.5s ease  0.5s 1 both;
}
.title-list .title-02{
    -webkit-animation :bounceInRight 0.5s ease  1s 1 both;
}
.title-list .title-03{
    -webkit-animation :bounceInLeft 0.5s ease  1.5s 1 both;
}
.title-list .title-04{
    -webkit-animation :bounceInRight 0.5s ease  2s 1 both;
}
/** 第三阶段动画 **/